<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<initialize>
				<processor type="SitecoreHackathon.Feature.UpdateAltTags.PipeLines.CustomRoutes,SitecoreHackathon.Feature.UpdateAltTags"  patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
			</initialize>
		</pipelines>
		<settings>
			<setting name="UpdateAltTags.ImagePath" value="/sitecore/media library/commuter-app/bookaride"/>
			<setting name="UpdateAltTags.HostName" value=""/>
		</settings>
	</sitecore>
</configuration>
