<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<setting name="OpenAI.Model" value="gpt-4o"/>
			<setting name="OpenAI.Role" value="user" />
			<setting name="OpenAI.Store" value="true" />
			<setting name="OpenAI.MaxTokens" value="200" />
			<setting name="OpenAI.TextPromptLabel" value="text" />
			<setting name="OpenAI.TextPrompt" value="Suggest ALT tags in less than 5 words" />
			<setting name="OpenAI.ImageUrlPromptLabel" value="image_url" />
			<setting name="OpenAI.ErrorMessage" value="Something went wrong. Alt text could not be generated" />
			<setting name="OpenAI.ApiFailure" value="Open AI API failed" />
			<setting name="OpenAI.ApiKey" value="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" />
			<setting name="OpenAI.APIEndPoint" value="https://api.openai.com/v1/chat/completions" />
		</settings>
	</sitecore>
</configuration>
