<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<setting name="OpenAI.Model" value="gpt-4o"/>
			<setting name="OpenAI.Role" value="user" />
			<setting name="OpenAI.MaxTokens" value="200" />
			<setting name="OpenAI.TextPrompt" value="text" />
			<setting name="OpenAI.ImageUrlPrompt" value="image_url" />
			<setting name="OpenAI.ErrorMessage" value="Something went wrong. Alt text could not be generated" />
			<setting name="OpenAI.ApiFailure" value="Open AI API failed" />
			<setting name="OpenAI.ApiKey" value="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" />
			<setting name="OpenAI.APIEndPoint" value="https://api.openai.com/v1/chat/completions" />
		</settings>
	</sitecore>
</configuration>
